{#
/**
 * @file paragraphs_row.html.twig
 * Default theme implementation to present Paragraphs Row data.
 *
 * This template is used when viewing Paragraphs Row pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_paragraphs_row()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div{{ attributes.addClass('paragraph_row') }}>
    {{- content -}}
  </div>
{% endif %}
